section.box
  .box__container.container
    .box__title
      .box__title-small JE ME mobilise contre
      .box__title-big ce palmarès
      span.box__title-small de la
      span.box__title-huge honte

    .box__wrapper
      .box__amount
        span(data-value="2894") 000 000 €
      .box__text collectés pour sauver les animaux<br> et les accueillir dans les refuges.
      a.box__btn.btn(href="https://don.30millionsdamis.fr/asso/site/30ma/abandons/fr/don/index.html") Je donne pour les refuges

