section.slider
  .slider__conteiner.container
    .slider__wrapper
      +icon({ name: "horn" })
      .slider__title
        .slider__title-small Criez haut et fort votre
        .slider__title-big indignation
        .slider__title-mobile et dîtes
      .slider__text Pour que vous puissiez clamer haut et fort votre indignation contre l'abandon, la Fondation 30 Millions d'Amis met à votredisposition ce kit de mobilisation pour dénoncer ce comportement scandaleux et sensibiliser vos proches. Manifestez contre l'abandon sur les réseaux!

  .slider__hand
    .glide
      .glide__track(data-glide-el="track")
        ul.glide__slides
          li.glide__slide
            .glide__slide-wrapper
              img(src="./img/share-img.jpg" alt="Criez haut et fort votre")
              .slider__hand-text je partage
              .slider__hand-btns
                a.btn--dark(href="https://api.whatsapp.com/send?text=Vid%C3%A9o%20choc%20%3A%20le%20palmar%C3%A8s%20de%20la%20honte%20!%20Vous%20ne%20devinerez%20jamais%20dans%20quel%20domaine%20la%20France%20reste%20toujours%20championne%20cet%20%C3%A9t%C3%A9%E2%80%A6%20by%20Fondation%20https%3A%2F%2Fwww.nonalabandon.com%2F" target="_blank")
                  +icon({ name: "whatsapp" })
                a.btn--dark-2(href="https://www.facebook.com/sharer.php?u=https://28devs.xyz/30-million-friends")
                  +icon({ name: "facebook" })
                a.btn--dark-3(href="https://twitter.com/intent/tweet?url=https%3A%2F%2F28devs.xyz%2F30-million-friends%2F&text=Vid%C3%A9o%20choc%20%3A%20le%20palmar%C3%A8s%20de%20la%20honte%20!%20Vous%20ne%20devinerez%20jamais%20dans%20quel%0Adomaine%20la%20France%20reste%20toujours%20championne%20cet%20%C3%A9t%C3%A9%E2%80%A6%20by%20Fondation%0A%4030millionsdamis%20https%3A%2F%2Fwww.nonalabandon.com%2F")
                  +icon({ name: "twitter" })
                a.btn--dark-4(href="./img/share-img.jpg" download)
                  +icon({ name: "download" })
          li.glide__slide
            .glide__slide-wrapper
              img(src="./img/share-img.jpg" alt="Criez haut et fort votre")
              .slider__hand-text je partage
              .slider__hand-btns
                a.btn--dark(href="https://api.whatsapp.com/send?text=Vid%C3%A9o%20choc%20%3A%20le%20palmar%C3%A8s%20de%20la%20honte%20!%20Vous%20ne%20devinerez%20jamais%20dans%20quel%20domaine%20la%20France%20reste%20toujours%20championne%20cet%20%C3%A9t%C3%A9%E2%80%A6%20by%20Fondation%20https%3A%2F%2Fwww.nonalabandon.com%2F" target="_blank")
                  +icon({ name: "whatsapp" })
                a.btn--dark-2(href="https://www.facebook.com/sharer.php?u=https://28devs.xyz/30-million-friends")
                  +icon({ name: "facebook" })
                a.btn--dark-3(href="https://twitter.com/intent/tweet?url=https%3A%2F%2F28devs.xyz%2F30-million-friends%2F&text=Vid%C3%A9o%20choc%20%3A%20le%20palmar%C3%A8s%20de%20la%20honte%20!%20Vous%20ne%20devinerez%20jamais%20dans%20quel%0Adomaine%20la%20France%20reste%20toujours%20championne%20cet%20%C3%A9t%C3%A9%E2%80%A6%20by%20Fondation%0A%4030millionsdamis%20https%3A%2F%2Fwww.nonalabandon.com%2F")
                  +icon({ name: "twitter" })
                a.btn--dark-4(href="./img/share-img.jpg" download)
                  +icon({ name: "download" })
          li.glide__slide
            .glide__slide-wrapper
              img(src="./img/share-img.jpg" alt="Criez haut et fort votre")
              .slider__hand-text je partage
              .slider__hand-btns
                a.btn--dark(href="https://api.whatsapp.com/send?text=Vid%C3%A9o%20choc%20%3A%20le%20palmar%C3%A8s%20de%20la%20honte%20!%20Vous%20ne%20devinerez%20jamais%20dans%20quel%20domaine%20la%20France%20reste%20toujours%20championne%20cet%20%C3%A9t%C3%A9%E2%80%A6%20by%20Fondation%20https%3A%2F%2Fwww.nonalabandon.com%2F" target="_blank")
                  +icon({ name: "whatsapp" })
                a.btn--dark-2(href="https://www.facebook.com/sharer.php?u=https://28devs.xyz/30-million-friends")
                  +icon({ name: "facebook" })
                a.btn--dark-3(href="https://twitter.com/intent/tweet?url=https%3A%2F%2F28devs.xyz%2F30-million-friends%2F&text=Vid%C3%A9o%20choc%20%3A%20le%20palmar%C3%A8s%20de%20la%20honte%20!%20Vous%20ne%20devinerez%20jamais%20dans%20quel%0Adomaine%20la%20France%20reste%20toujours%20championne%20cet%20%C3%A9t%C3%A9%E2%80%A6%20by%20Fondation%0A%4030millionsdamis%20https%3A%2F%2Fwww.nonalabandon.com%2F")
                  +icon({ name: "twitter" })
                a.btn--dark-4(href="./img/share-img.jpg" download)
                  +icon({ name: "download" })

      .glide__arrows(data-glide-el="controls")
        button.glide__btn.glide__prev(role="button" data-glide-trigger='.glide' data-glide-dir="<") <
        button.glide__btn.glide__next(role="button" data-glide-dir=">") >

    .slider__hand-controls
      .slider__hand-text je partage
      .slider__hand-btns
        a.btn--dark(href="https://api.whatsapp.com/send?text=Vid%C3%A9o%20choc%20%3A%20le%20palmar%C3%A8s%20de%20la%20honte%20!%20Vous%20ne%20devinerez%20jamais%20dans%20quel%20domaine%20la%20France%20reste%20toujours%20championne%20cet%20%C3%A9t%C3%A9%E2%80%A6%20by%20Fondation%20https%3A%2F%2Fwww.nonalabandon.com%2F" target="_blank")
          +icon({ name: "whatsapp" })
        a.btn--dark-2(href="https://www.facebook.com/sharer.php?u=https://28devs.xyz/30-million-friends"  target="_blank")
          +icon({ name: "facebook" })
        a.btn--dark-3(href="https://twitter.com/intent/tweet?url=https%3A%2F%2F28devs.xyz%2F30-million-friends%2F&text=Vid%C3%A9o%20choc%20%3A%20le%20palmar%C3%A8s%20de%20la%20honte%20!%20Vous%20ne%20devinerez%20jamais%20dans%20quel%0Adomaine%20la%20France%20reste%20toujours%20championne%20cet%20%C3%A9t%C3%A9%E2%80%A6%20by%20Fondation%0A%4030millionsdamis%20https%3A%2F%2Fwww.nonalabandon.com%2F"  target="_blank")
          +icon({ name: "twitter" })
        a.btn--dark-4(href="./img/share-img.jpg" download)
          +icon({ name: "download" })

    .slider__swipe-tip swipe
