section.choice
  .choice__container.container
    .choice__list
      a.choice__item(href="https://don.30millionsdamis.fr/asso/site/30ma/abandons/fr/don/index.html?amount=40")
        .choice__item-wrapper
          .choice__item-title 40€
          .choice__item-text offrir un mois de nourriture pour 2 pensionnaires
          .choice__item-tip vous revient réelement à 13,60 €
        .choice__item-box
          .choice__item-box-flipper
            .choice__item-box-front
              img.choice__item-box-img(src="./img/choice-img-1__webp.jpg" alt="offrir un mois de nourriture pour 2 pensionnaires")
            .choice__item-box-back
              .choice__item-box-back-text Je<br>donne
      a.choice__item(href="https://don.30millionsdamis.fr/asso/site/30ma/abandons/fr/don/index.html?amount=80")
        .choice__item-wrapper
          .choice__item-title 80€
          .choice__item-text acheter une niche d’urgence pour 1 gros chien
          .choice__item-tip vous revient réelement à 27,20 €
        .choice__item-box
          .choice__item-box-flipper
            .choice__item-box-front
              img.choice__item-box-img(src="./img/choice-img-2__webp.jpg" alt="acheter une niche d’urgence pour 1 gros chien")
            .choice__item-box-back
              .choice__item-box-back-text Je<br>donne
      a.choice__item(href="https://don.30millionsdamis.fr/asso/site/30ma/abandons/fr/don/index.html?amount=150")
        .choice__item-wrapper
          .choice__item-title 150€
          .choice__item-text participer aux frais vétérinaires pour 3 animaux malades
          .choice__item-tip vous revient réelement à 51 €
        .choice__item-box
          .choice__item-box-flipper
            .choice__item-box-front
              img.choice__item-box-img(src="./img/choice-img-3__webp.jpg" alt="participer aux frais vétérinaires pour 3 animaux malades")
            .choice__item-box-back
              .choice__item-box-back-text Je<br>donne
      a.choice__item(href="https://don.30millionsdamis.fr/asso/site/30ma/abandons/fr/don/index.html")
        .choice__item-wrapper
          .choice__item-title Autre montant
          .choice__item-text participer aux frais vétérinaires pour 3 animaux malades
          .choice__item-tip vous revient réelement à 13,60 €
        .choice__item-box
          .choice__item-box-back
            .choice__item-box-back-text Je<br>donne

  .choice__dog

