meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title #{title}
meta(name="theme-color" content="#d30d23")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

meta(property="og:title" content="Vidéo choc : le palmarès de la honte !")
meta(property="og:description" content="Vous ne devinerez jamais dans quel domaine la France reste toujours championne cet été… by Fondation @30millionsdamis")
meta(property="og:type" content="website")
meta(property="og:site_name" content="https://www.nonalabandon.com")
meta(property="og:url" content="http://28devs.xyz/30-million-friends")
meta(property="og:image" content="http://28devs.xyz/30-million-friends/img/share-img.jpg")
meta(property="og:image:width" content="298")
meta(property="og:image:height" content="298")

meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@30millionsdamis")
meta(name="twitter:creator", content="@30millionsdamis")
meta(name="twitter:title", content="Vidéo choc : le palmarès de la honte !")
meta(name="twitter:description", content="Vous ne devinerez jamais dans quel domaine la France reste toujours championne cet été… by Fondation @30millionsdamis https://www.nonalabandon.com/")
meta(name="twitter:image", content="http://28devs.xyz/30-million-friends/img/share-img.jpg")


link(rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="./img/favicons/apple-touch-icon.png")
link(rel="apple-touch-icon" sizes="57x57" href="./img/favicons/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon" sizes="72x72" href="./img/favicons/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="./img/favicons/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="./img/favicons/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="./img/favicons/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="./img/favicons/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="./img/favicons/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon-180x180.png")
link(rel="stylesheet" href="./styles/main.css")

link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700,800&display=swap&subset=cyrillic")
