extends layouts/default
block variables
  - var title = "Fondation 30 Millions d'Amis"

block content
  include ../../dist/img/sprites/sprite.svg
  include ../blocks/modules/hero/hero
  include ../blocks/modules/homeless/homeless
  include ../blocks/modules/box/box
  include ../blocks/modules/choice/choice
  include ../blocks/modules/slider/slider
  include ../blocks/modules/footer/footer
