footer.footer
  .footer__container.container
    a.footer__logo(href="#!")
      img.footer__logo-img(src="./img/logo.svg" alt="Fondation 30 Millions d'Amis")

    .footer__social
      .footer__social-text Retrouvez-nous sur
      a.btn.btn--red(href="http://www.facebook.com/30millionsdamis/")
        +icon({ name: "facebook" })
      a.btn.btn--red(href="https://twitter.com/30millionsdamis")
        +icon({ name: "twitter" })
      a.btn.btn--red(href="http://www.instagram.com/30millionsdamis/")
        +icon({ name: "instagram" })
      a.btn.btn--red(href="http://www.youtube.com/channel/UCgFiD33dMIEYulDhjLxcXzQ")
        +icon({ name: "youtube" })

    .footer__copy © Fondation 30 Millions d’Amis 2019 -
      a.footer__copy-link(href="https://www.30millionsdamis.fr/mentions-legales/") Mentions légales
